.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    padding-top: 20px;
  }
  
  .liss {
    float: left;
  }
  
  .liss a {
    display: block;
    color: rgb(6, 248, 6);
    padding: 5px 20px;
    text-decoration: none;
    
  }
  .pura{
    height: 500px;
    width: 100%;
    background-color: rgb(32, 34, 31);
    text-align: center;
  }
  .Logo{
    height: 100px;
    width:20% ;
    text-align: left;
    float: left;
    margin-left: 200px;
  }
  .bar{
    height: 100px;
    width:80% ;
  }


  .icon{
    
    color:rgb(6, 248, 6) ;
  }
  #name{
    height: 350px;
    width: 100%;  
  
  }
  .nam{
    height: 350px;
    width: 50%;
   
    float: left;
  }
.adha{
  height: 350px;
  width: 50%;
  float: right;
  background-image: url(img/Untitled\ design.png);
  background-repeat: no-repeat;
   background-size: 100%;
   opacity: 0.3;
}


  #pits{
    background-color: black;
    height: 400px;
    width: 100%;
    color: white;
    transition: width 2s;
   
  }
  .pits-1{
    height: 400px;
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
    text-align: left;
    float: left;
  }
  .pits-2{
    height: 400px;
    width: 50%;
    float: right;
    margin-top: 20px;
  }

  .pitsus{
    height: 500px;
    width: 100%;
    background-color: rgb(32, 34, 31);
    color: rgb(245, 242, 242);
  }
  .pitsus-1{
  
    height: 300px;
    width: 50%;
    color: rgb(248, 244, 244);
    display: flex;
    justify-content: center;
    text-align: left;
    float: left;
   margin-top: 125px; 
  }
  .pitsus-2{
    height: 300px;
    width: 50%;
    float: right;
  
  }


  .container {
    width: 60%;
    background-color: black;
    height: 15px;
   
  }
  
  .skills {
    text-align: right;
    color: white;
    height: 15px;
   
  }
  
  .html {width: 80%; background-color: #04AA6D;}
  .css {width: 80%; background-color: #2196F3;}
  .Tailwind css {width: 80%; background-color: #2196F3;}
  .js {width: 70%; background-color: #f44336;}
  .Php {width: 50%; background-color: #f57676;}
  .MySQL {width: 50%; background-color: #590505;}
  .Wordpress {width: 80%; background-color: #7bd63e;}



  .Portfolio{
    height: 800px;
    width: 100%;
    background-color: #737373;
    text-align: center;
  
  }


.sub-port1{

height: 500px;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;


}
  
.menu{
  display:block;
  float:left;
  height: 65%;
  width: 30%;
  position: relative; 
  padding: 5px;
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  justify-content: space-around;
}

.sub-menu{

  height: 70px;
  width: 60%;
  top: 120px;
  position: absolute;
  background-color: #737373;
  z-index: 1;
  text-align: center;
  opacity: .60;
  color: #FFFFFF;

}
.sub-menu:hover{
  background-color: #737373;
  opacity: 0.9;

}


.lin{

  color: rgb(83, 247, 7);
   text-decoration: none;
}


.footh{
  height: 50px;
  width: 100%;
  background-color: #737373;
  text-align: center;
  padding-top: 30px;
}




.contacts{
  background-color: black;
  height: 700px;
  width: 100%;
}
  
  .background {
    display: flex;
    min-height: 40vh;
  }
  
  .container {
    margin: auto;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }


  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  

  
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: rgb(83, 247, 7);
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color:rgb(83, 247, 7);
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  



  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  



  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }

   .pits-1{
    height: 200px;
    width: 100%;
    padding-top: 220px;
    color: white;
    font-size: 18px;
    text-align: center;
    
   } 

   .pits-2{
    height: 300px;
    width: 100%;
   position: absolute;
   top: 0;
   
   } 

   #pits{
    background-color: black;
    height: 650px;
    width: 100%;
    color: white;
    transition: width 2s;
    position: relative;
    
   } 

   .pitsus-1{
    height: 200px;
    width: 100%;
    color: rgb(245, 243, 243);
    font-size: 18px;
    text-align: center;
    
   } 

   .pitsus-2{
    height: 300px;
    width: 100%;
    color: rgb(247, 241, 241);

   } 

   .pitsus{
    height: 850px;
    width: 100%;
    color: white;
    font-size: 18px;

   } 

 
   .Portfolio{
    height: 2100px;
    width: 100%;
    color: rgb(13, 12, 12);
    font-size: 18px; 
   }


     
.menu{
  height: 65%;
  width: 95%;
  padding: 5px;
}

.sub-menu{
  height: 70px;
  width: 60%;
  top: 120px;
  background-color: #737373;
  z-index: 1;
  text-align: center;
  opacity: .60;
  color: #FFFFFF;

}
.sub-menu:hover{
  background-color: #737373;
  opacity: 0.80;
}

.bar{
  height: 100px;
  width:120% ;
  font-size: 20px;
  text-align: center;
 
}
.adha{
  display: none;
}
.Logo{
  display: none;
  }

.nam{
  height: 400px;
  width: 100%;
  text-align: center;
}
  }
  








